<script setup lang="ts">
import { useStore } from "vuex";
import { City } from "@/store/enums/city.enum";

import Popup from "@/components/Popup.vue";

const store = useStore();
const cityEnum = City;

function showPopup(city: City) {
  store.commit("showPopup", city);
}
</script>

<template>
  <main class="flex-wrap p-4">
    <button
      class="rounded-md bg-blue text-white px-4 py-2"
      @click="showPopup(cityEnum.Moscow)"
    >
      Заказать в москву
    </button>
    <button
      class="rounded-md bg-teal text-white px-4 py-2 ml-3"
      @click="showPopup(cityEnum.SaintPetersburg)"
    >
      Заказать в Санкт-Петербург
    </button>
    <popup v-if="store.state.popupShown" />
  </main>
</template>
