<script setup lang="ts">
import { computed, inject, ref } from "vue";
import { useStore } from "vuex";
import { Axios } from "axios";

const store = useStore();
const axios = inject("axios") as Axios;

let name = ref(""),
  phone = ref(""),
  email = ref("");
let city = computed(() => store.state.activeCity);
let serverResponse = ref(""),
  serverError = ref("");

function closePopup() {
  store.commit("closePopup");
}
async function submitForm() {
  if (
    !(name.value && email.value && phone.value.replace(/[^0-9]/gm, "") && city)
  ) {
    serverError.value = "Заполните все поля формы";
    return;
  } else {
    serverError.value = "";
  }
  try {
    const req = await axios.post(
      "http://hh.autodrive-agency.ru/test-tasks/front/task-7/",
      {
        name: name.value,
        email: email.value,
        phone: "+" + phone.value.replace(/[^0-9]/gm, ""),
        city_id: +city.value,
      }
    );
    serverResponse.value = req.data;

    name.value = "";
    email.value = "";
    phone.value = "";
  } catch (e) {
    serverError.value = "Произошла ошибка при выполнении запроса";
  }
}
</script>

<template>
  <div
    class="w-screen h-screen bg-gray bg-opacity-75 fixed left-0 top-0 flex items-center justify-center px-6"
  >
    <div
      class="bg-white p-6 h-fit rounded-md shadow-md"
      v-click-outside="closePopup"
    >
      <h4 class="text-gray text-2xl">Заказать звонок</h4>
      <form class="mt-4" @submit.prevent>
        <div class="flex flex-wrap justify-between md:justify-center">
          <div class="block w-full mb-3 md:w-1/3 lg:w-1/4">
            <!-- Я понимаю, что в этом случае лучше создать отдельный компонент для инпута, но в рамках тестового задания это съест много времени -->
            <label for="name" class="block mb-1 text-gray">Имя*</label>
            <input
              id="name"
              placeholder="Введите имя"
              type="text"
              class="py-2 px-3 text-gray border-gray-light border-solid border rounded shadow-sm w-full"
              v-model="name"
            />
          </div>
          <div class="block w-full mb-3 md:w-1/3 lg:w-1/4 md:pl-4">
            <label for="phone" class="block mb-1 text-gray">Телефон*</label>
            <input
              id="phone"
              placeholder="Введите телефон"
              type="text"
              class="py-2 px-3 text-gray border-gray-light border-solid border rounded shadow-sm w-full"
              v-maska="'+7 (###) ### ## ##'"
              v-model="phone"
            />
          </div>
          <div class="block w-full mb-3 md:w-1/3 lg:w-1/4 md:pl-4">
            <label for="email" class="block mb-1 text-gray">E-Mail*</label>
            <input
              id="email"
              placeholder="Введите E-Mail"
              type="email"
              class="py-2 px-3 text-gray border-gray-light border-solid border rounded shadow-sm w-full"
              v-model="email"
            />
          </div>
          <div class="block ml-0 w-full md:w-full lg:w-1/4 lg:pl-4">
            <label for="city" class="block mb-1 text-gray">Город*</label>
            <select
              id="city"
              class="py-2.5 px-3 text-gray border-gray-light border-solid border rounded shadow-sm w-full"
              v-model="city"
            >
              <option value="1">Москва</option>
              <option value="2">Санкт-Петербург</option>
              <option value="3">Казань</option>
            </select>
          </div>
        </div>
        <div class="flex mt-5">
          <button
            class="bg-green rounded py-2 px-8 ml-auto text-white"
            @click="submitForm"
          >
            Отправить
          </button>
        </div>
        <div class="mt-4" v-html="serverResponse" v-if="serverResponse"></div>
        <div class="mt-4" v-if="serverError">{{ serverError }}</div>
      </form>
    </div>
  </div>
</template>
